In [1]:
#Example of how to start using google bigquery
#json credential file used below is created at the google cloud platform console
#     Create Service Account, set role as owner, download json key file, link to that file below
#michaelcouch ~ % pip install google-cloud-bigquery
#michaelcouch ~% pip install pandas
#michaelcouch ~% pip install plotly==4.8.1
#michaelcouch ~% pip install plotly-geo     # Used for county level choropleth map
#virtuanenvname ~% pip install --user ipykernel
#virtualenvname ~% python -m ipykernel install --user --name=virtualevnname
#In jupyter notebook select vitualenvname as kernel

#Used for county level choropleth
#$ pip install geopandas==0.3.0
#$ pip install pyshp==1.2.10
#$ pip install shapely==1.6.3

import pandas as pd
import os 
os.environ["GOOGLE_APPLICATION_CREDENTIALS"] = "/Users/michaelcouch/Documents/Data_Analytics/VirtualEnvZone/TestVenv1/dev-smoke-278920-cb67e104d184.json"
# The below lines allow for file paths to be shared on localhost and pythonanywhere server __file__ is a python majic variable 
#THIS_FOLDER = os.path.dirname(os.path.abspath(__file__))
#my_file = os.path.join(THIS_FOLDER,"../dev-smoke-278920-cb67e104d184.json")
#os.environ['GOOGLE_APPLICATION_CREDENTIALS'] = my_file

from google.cloud import bigquery
client = bigquery.Client()

In [2]:
import pandas as pd
from random import random
import plotly.graph_objects as go
from plotly.offline import plot
import plotly.figure_factory as ff # For County level Choropleth Map

In [3]:
query="""select * from bigquery-public-data.covid19_usafacts.confirmed_cases 
    WHERE state='WA'
    """
query_job = client.query(query)
casesDf=query_job.to_dataframe()
casesDf.head()

,county_fips_code,county_name,state,state_fips_code,_1_22_20,_1_23_20,_1_24_20,_1_25_20,_1_26_20,_1_27_20,...,_10_18_20,_10_19_20,_10_20_20,_10_21_20,_10_22_20,_10_23_20,_10_24_20,_10_25_20,_10_26_20,_10_27_20
0,53005,Benton County,WA,53,0,0,0,0,0,0,...,4982,5017,5033,5068,5085,5099,5099,5197,5223,5243
1,53007,Chelan County,WA,53,0,0,0,0,0,0,...,1954,1954,1959,1973,1976,1982,1982,2000,2000,2002
2,53011,Clark County,WA,53,0,0,0,0,0,0,...,3976,3997,4061,4081,4108,4180,4180,4260,4295,4352
3,53017,Douglas County,WA,53,0,0,0,0,0,0,...,1223,1223,1225,1225,1227,1229,1229,1232,1233,1233
4,53021,Franklin County,WA,53,0,0,0,0,0,0,...,4637,4659,4672,4703,4717,4721,4721,4787,4805,4831

In [4]:
# Transpose state data for graphing
casesDf_transp=casesDf.T
casesDf_transp.head()

,0,1,2,3,4,5,6,7,8,9,...,30,31,32,33,34,35,36,37,38,39
county_fips_code,53005,53007,53011,53017,53021,53025,53029,53033,53035,53053,...,53055,53027,53003,53075,00000,53009,53031,53039,53069,53023
county_name,Benton County,Chelan County,Clark County,Douglas County,Franklin County,Grant County,Island County,King County,Kitsap County,Pierce County,...,San Juan County,Grays Harbor County,Asotin County,Whitman County,Statewide Unallocated,Clallam County,Jefferson County,Klickitat County,Wahkiakum County,Garfield County
state,WA,WA,WA,WA,WA,WA,WA,WA,WA,WA,...,WA,WA,WA,WA,WA,WA,WA,WA,WA,WA
state_fips_code,53,53,53,53,53,53,53,53,53,53,...,53,53,53,53,53,53,53,53,53,53
_1_22_20,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0

In [5]:
	casesDf_transp.columns = casesDf_transp.loc['county_name']  # set county names as column names
	wa_covid_graph_data = casesDf_transp.drop(['county_name', 'state', 'county_fips_code', 'state_fips_code']) # drop rows by name
wa_covid_graph_data.head()

county_name,Benton County,Chelan County,Clark County,Douglas County,Franklin County,Grant County,Island County,King County,Kitsap County,Pierce County,...,San Juan County,Grays Harbor County,Asotin County,Whitman County,Statewide Unallocated,Clallam County,Jefferson County,Klickitat County,Wahkiakum County,Garfield County
_1_22_20,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
_1_23_20,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
_1_24_20,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
_1_25_20,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
_1_26_20,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0

In [6]:
#turn the index into a string to convert to datetime

#chops off first character of index, then converts all underscores _ to slashes /, then converts to date time and
#sets back on index
wa_covid_graph_data.index = pd.to_datetime(wa_covid_graph_data.index.str[1:].str.replace('_','/'))

In [7]:
# Build the graph and show it
xAxis=wa_covid_graph_data.index # set x axis to dates (row indexes)
yAxis=wa_covid_graph_data['King County']   # set y axis to values in King County
fig=go.Figure(data=go.Scatter(x=xAxis, y=yAxis))

#Add titles and legends
fig.update_layout(annotations=[dict(text='Source: USAFacts COVID19 dataset, retrieved from bigquery-public-data.covid19_usafacts.confirmed_cases', 
                                    showarrow=False, 
                                    xref='paper', 
                                    yref='paper', 
                                    x=1, 
                                    y=-.1)],
                 title="Covid Cases")
plt_div = plot(fig)

In [8]:
#Build a map base layer
fig = go.Figure(go.Scattergeo())
fig.update_geos(
    visible=False, resolution=110, scope="usa",
    showcountries=True, countrycolor="Black",
    showsubunits=True, subunitcolor="Blue"
)
fig.update_layout(height=300, margin={"r":0,"t":0,"l":0,"b":0})
plt_div = plot(fig)

In [9]:
#TODO - get state totals on last recorded day, keep FIPs codes and create a chloropleth map of states, 
#then do a county level using legacy plotly's legacy figure factory

#lastRow = casesDf_transp.iloc[[0,-1]] # assign first row and last row to lastRow df
#lastRow.head()

In [10]:
# Get all the data (all states)
query="""select * from bigquery-public-data.covid19_usafacts.confirmed_cases
    """
query_job = client.query(query)
casesDf=query_job.to_dataframe()
casesDf.head()

,county_fips_code,county_name,state,state_fips_code,_1_22_20,_1_23_20,_1_24_20,_1_25_20,_1_26_20,_1_27_20,...,_10_18_20,_10_19_20,_10_20_20,_10_21_20,_10_22_20,_10_23_20,_10_24_20,_10_25_20,_10_26_20,_10_27_20
0,01003,Baldwin County,AL,01,0,0,0,0,0,0,...,6369,6375,6405,6443,6475,6615,6637,6658,6694,6712
1,01015,Calhoun County,AL,01,0,0,0,0,0,0,...,4084,4102,4127,4160,4189,4224,4567,4599,4621,4647
2,01017,Chambers County,AL,01,0,0,0,0,0,0,...,1266,1273,1301,1330,1336,1343,1350,1350,1352,1368
3,01021,Chilton County,AL,01,0,0,0,0,0,0,...,1787,1805,1817,1826,1841,1858,1869,1884,1893,1904
4,01031,Coffee County,AL,01,0,0,0,0,0,0,...,1629,1640,1666,1682,1717,1732,1763,1771,1795,1807

In [11]:
# Transform the full data set to state level and prepare for graph

# Get state totals by state_fips_code AND transpose
state_levelDf=casesDf.groupby(['state']).sum().T
#state_levelDf.head()

# keep only columns and last row (running total)
state_levelDf_total = state_levelDf.iloc[[-1]]
state_levelDf_total.head()
statesDf=state_levelDf_total.T
statesDf.columns = ['Total']
statesDf.head()

# Get the date of the last record and chop off the first character of the string, used in layout
lastUpdated = list(casesDf.columns)[-1][1:].replace('_','/')
statesDf['Total']

state
AK     13742
AL    186437
AR    107679
AZ    240122
CA    915527
CO     98733
CT     68637
DC     16906
DE     24260
FL    786311
GA    353372
HI     14773
IA    117630
ID     60923
IL    382974
IN    169289
KS     80641
KY     99637
LA    180991
MA    160128
MD    141741
ME      6311
MI    182344
MN    139444
MO    174632
MS    117617
MT     29346
NC    262880
ND     39130
NE     64917
NH     10530
NJ    231331
NM     43169
NV     96901
NY    498715
OH    202741
OK    118409
OR     42808
PA    198446
RI     27274
SC    172579
SD     40730
TN    251774
TX    886579
UT    107258
VA    175409
VT      2113
WA    104027
WI    217429
WV     22706
WY      9102
Name: Total, dtype: int64

In [12]:
# Create chloropleth graph map of states with last date collected as the color
fig = go.Figure(data=go.Choropleth(
    locations=statesDf.index, # Spatial coordinates
    z = statesDf['Total'], # Data to be color-coded
    locationmode = 'USA-states', # set of locations match entries in `locations`
    colorscale = 'Reds',
    colorbar_title = "Positive Cases",
))

fig.update_layout(
    title_text = 'Total Positive Covid Cases Per State as of {}'.format(lastUpdated),
    geo_scope='north america', # limit map scope to USA
)

StatesMapPlotDiv=plot(fig)

In [13]:
#Create a line graph of all the states over time
# Prepare the data here, graph in next cell

# Use state level df to create a total column, will be used for line graph of US states
state_levelDf['Total'] = state_levelDf.sum(axis=1)

#Convert index into date
state_levelDf.index = pd.to_datetime(state_levelDf.index.str.replace('_','/'))

# Investigate results at this csv if desired
#state_levelDf.to_csv('state_levelDf.csv')

In [14]:
# Build the line graph and show it
xAxis=state_levelDf.index # set x axis to dates (row indexes)
yAxis=state_levelDf['Total']   # set y axis to values in King County
fig=go.Figure(data=go.Scatter(x=xAxis, y=yAxis))

#Add titles and legends
fig.update_layout(annotations=[dict(text='Source: USAFacts COVID19 dataset, retrieved from bigquery-public-data.covid19_usafacts.confirmed_cases', 
                                    showarrow=False, 
                                    xref='paper', 
                                    yref='paper', 
                                    x=1, 
                                    y=-.1)],
                 title="Total US Covid Cases")
plt_div = plot(fig)

In [15]:
# Build county level choropleth map
# First, get county level data for last recorded day

#keep only last date recorded and county info (first couple rows)
lastCountyData = casesDf.T.iloc[[0,1,2,-1]].T

#Rename last column to "Total"
lastCountyData.rename(columns = {list(lastCountyData)[-1]:'Total'}, inplace=True)
lastCountyData.head()

  county_fips_code      county_name state Total
0            01003   Baldwin County    AL  6712
1            01015   Calhoun County    AL  4647
2            01017  Chambers County    AL  1368
3            01021   Chilton County    AL  1904
4            01031    Coffee County    AL  1807

In [16]:
CountyChor = ff.create_choropleth(
    fips=lastCountyData['county_fips_code'], values=lastCountyData['Total'], scope=['usa'],
    show_state_data=False,
    show_hover=True,
    asp = 2.9,
    title_text = 'USA by Unemployment %',
    legend_title = '% unemployed'
)
CountyChor.layout.template = None
county_chor_div = plot(CountyChor)

/Users/michaelcouch/Library/Python/2.7/lib/python/site-packages/plotly/figure_factory/_county_choropleth.py:838: UserWarning:

Unrecognized FIPS Values

Whoops! It looks like you are trying to pass at least one FIPS value that is not in our shapefile of FIPS and data for the counties. Your choropleth will still show up but these counties cannot be shown.
Unrecognized FIPS are: [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 6000, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

## Create a line graph to show daily NEW case count

In [20]:
# Start at the beginning query of all cases and build a dataframe that has total per date and new cases since last row
casesDf.head()

,county_fips_code,county_name,state,state_fips_code,_1_22_20,_1_23_20,_1_24_20,_1_25_20,_1_26_20,_1_27_20,...,_10_18_20,_10_19_20,_10_20_20,_10_21_20,_10_22_20,_10_23_20,_10_24_20,_10_25_20,_10_26_20,_10_27_20
0,01003,Baldwin County,AL,01,0,0,0,0,0,0,...,6369,6375,6405,6443,6475,6615,6637,6658,6694,6712
1,01015,Calhoun County,AL,01,0,0,0,0,0,0,...,4084,4102,4127,4160,4189,4224,4567,4599,4621,4647
2,01017,Chambers County,AL,01,0,0,0,0,0,0,...,1266,1273,1301,1330,1336,1343,1350,1350,1352,1368
3,01021,Chilton County,AL,01,0,0,0,0,0,0,...,1787,1805,1817,1826,1841,1858,1869,1884,1893,1904
4,01031,Coffee County,AL,01,0,0,0,0,0,0,...,1629,1640,1666,1682,1717,1732,1763,1771,1795,1807

In [24]:
# Sum all cases for each day then transpose so days are rows
cases_total_per_day = casesDf.groupby([True]*len(casesDf)).agg('sum').T

In [29]:
cases_total_per_day.tail(15)

              True
_10_13_20  7788086
_10_14_20  7847567
_10_15_20  7914183
_10_16_20  7977767
_10_17_20  8037976
_10_18_20  8084914
_10_19_20  8142827
_10_20_20  8202521
_10_21_20  8265121
_10_22_20  8342911
_10_23_20  8425143
_10_24_20  8494512
_10_25_20  8557453
_10_26_20  8625476
_10_27_20  8697104

In [35]:
# Calculate the volume difference from previous row (new cases each day) for entire country

new_cases_per_day = cases_total_per_day.diff()
new_cases_per_day['Date'] = pd.to_datetime(new_cases_per_day.index.str.replace('_','/'))
new_cases_per_day.tail()

              True       Date
_10_23_20  82232.0 2020-10-23
_10_24_20  69369.0 2020-10-24
_10_25_20  62941.0 2020-10-25
_10_26_20  68023.0 2020-10-26
_10_27_20  71628.0 2020-10-27

### The line graph of new cases per day for entire country

In [36]:
# Build the line graph and show it
xAxis=new_cases_per_day['Date'] # set x axis to dates (row indexes)
yAxis=new_cases_per_day[True]   # set y axis to values in King County
fig=go.Figure(data=go.Scatter(x=xAxis, y=yAxis))

#Add titles and legends
fig.update_layout(annotations=[dict(text='Source: USAFacts COVID19 dataset, retrieved from bigquery-public-data.covid19_usafacts.confirmed_cases', 
                                    showarrow=False, 
                                    xref='paper', 
                                    yref='paper', 
                                    x=1, 
                                    y=-.3)],
                 title="Daily New Covid Cases")
plt_div = plot(fig)